*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    max-width: 1200px;
    margin: 0 auto;

}

.content {
    min-height: 200px;
    background: #001064;

}
.menu {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.logo {
 float: left;
}
.menu .navbar ul li{
    position: relative;
    float: left;

}

.menu .navbar ul li a{
   font-size: 28px;
   padding: 17px;
   color: #ffff;
   display: block;
   font-weight: bold;
}

.menu .navbar ul li a:hover{
    color: #12C3FB;
}

#menu{
    display: none;
}

.menu-icono{
    width: 25px;
}

.menu label{
    cursor: pointer;
    display: none;
}
@media(max-width: 20px){
    .content{
        min-height: 70px;
    }
    .menu label {
        display: initial;
    }
    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #001064;
        display: none;
    }
}


#menu:checked ~ .navbar{
    display: initial;
}


.navbar li:hover .menu-vertical{
    display: block;
}


.Contenedor{

    min-height: 100vh;
display: flex;
justify-content: center;
align-items: 10px;

}

.Boton{
    display: flex;
    flex-direction: column;

}

.boton1{
    text-decoration: none;
    padding: 26px 90px;
    font-size: 1.5rem;
    margin: 120px;

    background: #001064;
    color: white;
    border-radius: 20px;
    transition: transform 0.3s ease;
    
   
}

.boton1::after, .boton1::before{
    content: "";
    position: absolute;
    opacity: 0.3 ;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: transform 0.3 ease;
    
} 

.boton1:hover{
    transform: translate(-12px, -12px);
    background: #12C3FB;
}
.boton1:hover::after{
    transform: (6px, 6px);
}
.boton1:hover::before{
    transform: (12px, 12px);
}
.imagen1{

    margin-top: -10px;
    margin-right: center;
    width:850px ;
    height:480px ;
}

.imagen2{

    margin-top: 80px;
    margin-right: auto;
    width: 100%;
}

.imagen3{
    margin-top: -10px;
    margin-right: center;
    width:650px ;
    height:480px ;
}

.Boton{
    position: relative;
}
.boton1{
    
        position: absolute;
        top: 220px; 
        left: 10%;
}

.pie-pagina{
    width: 100%;
    background-color: #001064;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
margin: auto;
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-gap: 50px;
padding: 45px 0px;

}

.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #ffff;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}

.pie-pagina .grupo-2{
    background-color: #001064;
    padding: 15px 10px;
    text-align: center;
    color:#ffff;
}

.pie-pagina .grupo-2 small{
font-size: 15px;
}

 .wasap figure img{
 position: fixed;
    width:105px;
    left: 88%;
    top: 560px;
    float: left;
}

@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        max-width: 1200px;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
    }
}

/* estilos.css */
.imagenes-inline img {
    margin-top: 90px;
    display: inline-block;
    margin-right: 10px; /* Espacio entre imágenes */
    vertical-align: top; /* Alineación vertical si es necesario */
}

.imagenes-lineadas img {
    display: inline-block;
    margin-right: -36px; /* Espacio entre imágenes */
    vertical-align: top; /* Alineación vertical si es necesario */
}